<div>

    <p> Hello <%=data.name%>! </p>
    <br>
    <br>
    <p><strong><%= data.myName %></strong> would like to help you out with regard to this message -
        <strong><%= data.msg %></strong>. Plese feel free to contact her at <strong>
        <%= data.from%>
    </strong></p>
    <br>
    <br>
    <p>Thanks!</p>
</div>